<div class="header prepend-4 span-17 last" ><h1>Gems on <%= Socket.gethostname.split(".").first %></h1></div>
<div class="prepend-4 span-17 last">
  <div class="navlist large">
    <ol>
      <!-- <%= specs_by_first_upcase_char.keys.sort.collect{ |k| "<li><strong><a href=\"?char=#{k}\">#{k}</a></strong></li>" }.join("") %> -->
      <%= ("A".."Z").to_a.collect{ |k| "<li><strong><a href=\"?char=#{k}\">#{k}</a></strong></li>" }.join("") %>
    </ol>
  </div>
</div>

<hr class="space"/>

<div class="prepend-4 span-17 last">
  <div class="gemlist" >
    <ol>
      <% specs_by_name.keys.sort.each do |name| %>
        <li>
          <div class="gem">
            <div class="name"><h3><%= specs_by_name[name].first.name %></h3></div>
            <div class="version"><strong>Version(s):</strong><br /><%= specs_by_name[name].sort_by{ |spec| spec.full_name }.collect{ |spec| "<a href=\"/gems/#{spec.file_name}\">#{spec.version_platform}</a>" }.reverse.join(" ") %></strong></div>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</div>
